#header{
	width: 60%;
	height: 50px;
	border: 0px solid;
	border-bottom: 2px #DCDFE6 solid;
	margin-left: 250px;
	padding-top: 10px;
	margin-top: -10px;
}
#header p{
	font-size: 28px;
	line-height: 0px;
}
#info{
	width: 55%;
	height: 40px;
	border: 0px solid;
	margin-left: 285px;
	line-height: 40px;
}
.info1{
	float: left;
}
.info2{
	float: left;
	padding-left: 20px;
}
.info3{
	float: left;
	padding-left: 20px;
}
.info4{
	float: left;
	padding-left: 20px;
}

.info-1{
	color: #C8C9CC;
	
}
#u4940{
	width: 120px;
	height: 110px;
	border: 0px solid;
	float: right;
	margin-right: 140px;
	margin-top: -80px;
}
#u4940 img{
	width: 120px;
	height: 110px;
}

/* 左侧栏 */
#left{
	position: fixed;
}

#left a{
	text-decoration: none;
	color: black;
}

.el-menu-item{
    line-height: 45px;
    height: 45px;
	width: 150px;
	border: 0px solid;
}

/* 表格 */
.el-table th{
    background-color: whitesmoke;
}
#table1{
	width: 1050px;
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-1{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-1 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 23px;
}

#table2{
	width: 1050px;
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-2{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-2 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 2px;
}
#table3{
	width: 1050px;
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-3{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-3 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 12px;
}
#table4{
	width: 1050px;
	/* height: 330px; */
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-4{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-4 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 23px;
}
#table5{
	width: 1050px;
	/* height: 330px; */
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-5{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-5 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 2px;
}
#table6{
	width: 1050px;
	/* height: 330px; */
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-6{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-6 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 32px;
}
#table7{
	width: 1050px;
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-7{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-7 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 30px;
}
#table8{
	width: 1050px;
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-8{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-8 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 30px;
}
#table9{
	width: 1050px;
	/* height: 330px; */
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-9{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-9 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 30px;
}
#table10{
	width: 1050px;
	border: 0px solid;
	margin-left: 270px;
	margin-top: 30px;
}
.table-10{
	width: 120px;
	height: 35px;
	border: 1px solid;
	border-radius: 8px;
	background: #ECECEC;
	margin-bottom: -5px;
}
.table-10 p{
	font-size: 19px;
	line-height: 0px;
	margin-left: 30px;
}

